<!-- launch file -->

<launch>
<!--robot motor control node -->   
  <node pkg="nostop_heading_calibration" type="heading_calibration_node" name="heading_calibration_green_yellow" required="true" output="screen">
    <param name="robot_name" value="gree_yellow" />
    <param name="ang_vel_z" value="1"/>
    <param name="duration" value="30" />
  </node>

</launch>