<!-- launch file -->

<launch>
<!--robot motor control node -->   
  <node pkg="nostop_heading_calibration" type="heading_calibration_node" name="heading_calibration" required="true" output="screen">
    <param name="robot_name" value="red_blue" />
    <param name="ang_vel_z" value="3"/>
    <param name="duration" value=10 />
  </node>

</launch>